
body {
    height: 100vw;
    width: 100vw;
    margin: 0 auto;
    background-color: black;
    color: black;
}
#container {
    background-color: transparent;
    display: grid;
    grid-template-rows: 100px 500px 2fr;
    grid-template-columns: 3fr 2fr 500px 5fr;
    grid-template-areas: 
        'margin topleft topmid topright'
        'margin left game right'
        'margin botleft bottom botright';
    height: 600px;
    width: 600px;
    margin: 0 auto;
}   
h1 {
    color: white; 
    grid-area: topmid;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

main {
    grid-area: game;
}
#canvas {
    width: 100%;
    height: 100%;
    background-image: url('../images/wireframe.png')
}
button {
    background-color: transparent;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: block;
    border-style: none;
    font-size: 15px;
    width: 100px;

       
}


#key-buttons {
    grid-area: left;
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr,6);
}
#play {
    grid-area: bottom; 
    color: white;
    font-size: 1.2em;
    text-align: center;
}

#instructions > h2 {
    display: block;
    margin: 0 auto;
   
}
#instructions {
    margin-left: auto;
    margin-right: auto;
    margin-top: 500px;
    margin-bottom: 200px;
    width: 800px;
    color: white;
    display: grid;
    grid-template-columns: 3fr 1fr
}
.helper {
    border: 4px solid white;
    width: 100%;
    background-color: white;
}
.helper > img {
    max-width: 100%;
    height: auto;
}
figcaption {
    font-size: 0.8em;
    color: black
}
#stratego-wiki {
    color: white;
}
#link-back {
    color: white;
    font-size: 25px;
}


